*{
  margin: 0;
  padding: 0;
  color: #000000;
}
html,
body{
   height: 100%;
   width: 100%;
   background-color: #000000;
}

.card{
  background-color: #e8cdcd;
  padding: 12px;
  border-radius: 10px;
  margin: 20px;
}